/* rowanlynch.com stylesheeeet */

img {
	max-height: 100%;
}

body {
		}

h1 {
	font-size:14px
		} 

p {
	font-size:14px;
}

li {
	font-size: 14px;
}

header {
   position: fixed;
 overflow: scroll;
 width: 100%;
}

.header
 {font-size: 14px;
 text-align: center;
 position: fixed;
 overflow: scroll;
 width: 100%;

padding: 40px;
margin-left: 400px;
margin-right: 400px;
margin-bottom: 0px;
 }

.content {
	font-size: 14px;
	text-align: center;

padding: 40px;
margin-left: 400px;
margin-right: 400px;
margin-bottom: 0px;
			}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

.grid-item {
  background-color: #ffffff;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

