/* rowanlynch.com stylesheeeet */

img {
	max-height: 100%;
}

h1 {
	font-size:14px
		} 

p {
	font-size:14px;
}

li {
	font-size: 14px;
}

.header
 {text-align: center;
  width: 100%;

    left: 50%;
    transform: translate(-50%, 0);

position: fixed;
 overflow: scroll;

 }

.content {
    text-align: center;
	font-size: 14px;

   width: 100%;
 margin: 0 auto;
  padding-top: 120px;
  padding-left: 200px;

			}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

.grid-item {
  background-color: #ffffff;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

