/* rowanlynch.com stylesheet */

img {
	max-width: 500px;
	max-height: 100%;
}

body {
		}

h1 {
	font-size:14px
		} 

p {
	font-size:14px;
}

li {
	font-size: 14px;
}

.header
 {font-size: 14px;
 padding: 30px;
 text-align: center;
 position: fixed;
 overflow: scroll;
 }

.content {
	font-size: 14px;
	padding-top: 100px;
	text-align: center;
			}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding-top: 100px;
}

.grid-item {
  background-color: #ffffff;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

